@model User
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <button type="button" class="btn btn-outline-light">Light</button>
    </div>
    <div class="up-profile-pic">
        <img class="up-pic" src="~/images/user/pic.png" alt="user">
    </div>
</div>

<nav class="up-nav">
    <div class="nav-container">
        <div class="row justify-content-around">
            <div class="col up-col-followers">
                <p class="justify-content-center up-followers-number">140</p>
                <p class="justify-content-center up-followers-text">followers</p>
            </div>
            <div class="col up-col-followers">
                <p class="row justify-content-center up-followers-number">30</p>
                <p class="row justify-content-center up-followers-text">listings</p>
            </div>
            <div class="col">
                <a class="btn btn-outline-success" href="#">Edit</a>
            </div>
        </div>
    </div>
</nav>
<div class="container container-fluid mt-5">
    <div class="row d-flex justify-content-between">
        @{
            if (ViewBag.usersPlants.Count == 0)
            {
                <h3>No Listings yet</h3>
            }else{
                foreach (Plant p in @ViewBag.usersPlants)
                {
                    string plntid = @p.PlantId.ToString();
                    string link = "~/images/plants/" + plntid + ".png";
                    <div class="card" style="width: 16rem;">
                        <a href="/onePlant"><img class="card-img-top" src="~/images/plants/1.png" alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title">@p.PlantName</h5>
                            <p class="card-text">Size: @p.Size</p>
                            <p class="card-text">@p.Action</p>
                            <hr>
                            <div class="row d-flex justify-content-around mt-2" style="height:20px;">
                                <div><img class="card-img-icon" src="~/images/icons/heart.png" alt="heart icon"><span>@p.Likes.Count</span></div>
                                <div><img class="card-img-icon" src="~/images/icons/comment.png" alt="heart icon"><span>@p.Comments.Count</span></div>
                                <div><img class="card-img-icon" src="~/images/icons/plus.png" alt="heart icon"></div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
